<table>
<tr>
<td style="vertical-align: top;">

    <table class="summary" bgcolor=#F8F8F8 border=1 >
    <tr><td colspan="2" align="center">
    Week Totals
    </td></tr>
    {% for elem in lWeekTots %}
    <tr>
    <td class="summary" align="right" width="40px"><a href="/list?user={{user}}&refresh=1&yw={{elem[2]}}">{{ elem[0] }}</a></td>
    <td class="summary" align="right" width="70px">{{ elem[1] }} km</td>
    </tr>
    {% endfor %}
    </table>

</td>

<td style="vertical-align: top;">

    <table class="summary" bgcolor=#F8F8F8 border=1 >
    <tr><td colspan="2" align="center">
    Month Totals
    </td></tr>
    {% for elem in lMonthTots %}
    <tr>
    <td class="summary" align="right" width="40px"><a href="/list?user={{user}}&refresh=1&ym={{elem[2]}}">{{ elem[0] }}</a></td>
    <td class="summary" align="right" width="70px">{{ elem[1] }} km</td>
    </tr>
    {% endfor %}
    </table>
    
    <table class="summary" bgcolor=#F8F8F8 border=1 >    
    <tr><td colspan="2" align="center">
    Year Total
    </td></tr>

    {% for elem in lYearTots %}
    <tr>
    <td class="summary" align="right" width="40px">{{ elem[0] }}</td>
    <td class="summary" align="right" width="70px">{{ elem[1] }} km</td>
    </tr>
    {% endfor %} 
    </table>

</td></tr>
</table>