{# _myapp/templates/main.html_ #}

<style>

table.summary {
  font: 13px sans-serif;
  border-collapse: collapse;
  margin: 30px;
}

td {
  border: 1px dotted #B0B0B0;
}

.chart div {
  font: 12px sans-serif;
  background-color: white;
  text-align: left;
  padding: 3px;
  margin: 0px;
  color: white;
  display: inline-block;
}

.chart div {
  font: 12px sans-serif;
  background-color: white;
  text-align: left;
  padding: 3px;
  margin: 0px;
  color: white;
  display: inline-block;
}

table {
  font: 12px sans-serif;
}

</style>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Strava Track Analyzer</title>
    </head>
    <body>
    {% Name Of Run %}

<table><tr><td width=30px><&nbsp;</td><td>

     <table class="summary">
     <tr>
     <td width=200px>Total Track</td><td>{% Total Track Length %}</td>
     </tr><tr>
     <td>Time</td><td>{% Total Track Length %}</td>
      </tr><tr>
     <td>Pace</td><td>{% Total Pace %}</td>
      </tr><tr>
     <td>Average Heart Rate</td><td>{% Total Heartrate %}</td>
      </tr><tr>
     <td>Average Cadence</td><td>{% Total Cadence %}</td>
	 </tr>     
     </table>

	<br>
	
	{% track graphs %}

    </body>
</html>