
<table class="summary" bgcolor="#F8F8F8" border=0>
	
<tr>
	{% if item.workout_type == 1 %}
    	{% set color = "Red" %}
	{% else %}
		{% if item.workout_type == 2 %}
			{% set color = "Green" %}
		{% else %}
			{% set color = "Black" %}
		{% endif %}
	{% endif %}
	<td width=20px>{{count}}</td>
	<td colspan=7 style="color: {{ color }}; text-align: left;">
		{% if tCache == 1 %}
			<img src="static/pin_small.png" alt="Cached" height="12" width="12">
		{% endif %}
	
		<a href=/strava?user={{user}}&id={{ item.id }} style="color: {{ color }};">
		{% if item.workout_type == 1 or item.workout_type == 2 %}
			<b>{{ item.name }}</b>
		{% else %}
			{{ item.name }}
		{% endif %}
		</a>
		- {{ item.location_city }} 
		 <!-- - {{item.workout_type}} - {{item.id}} -->
		 <!-- <font style="text-decoration:none; color:Grey;"> - {{item.description}}</font> -->
	</td>
	
	<td colspan=1 style="color: Grey; text-align: right;">
		<a href="https://www.strava.com/activities/+{{ item.id }}" target="_blank" style="text-decoration:none; color:#808080; font: 9px sans-serif;">(Strava)</a>
	</td>
</tr>

{% if item.description != "" %}
<tr>
<td width=20px>&nbsp;&nbsp;&nbsp;</td>
<td colspan=8 style="color: {{ color }}; text-align: left;">
	<font style="text-decoration:none; color:#707070;">{{item.description}}</font>
</rd>
</tr>
{% endif %}
	
<tr>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140>Date</td>
	  <td class="summary" width=140px>{{ tRunDate }}</td>
	  <td width=40px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>Total Track</td>
	  <td class="summary width=140px"><b>{{tDistance}}</b> km</td>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>Fastest km after 25%</td>
	  <td class="summary width=140px">{{ tTrack[0] }} km</td>
</tr>

<tr>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>Moving Time</td><td class="summary width=140px">{{ tMovingTime }}</td>
	  <td width=40px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140>Total Pace</td><td class="summary" width=140px>{{ tRunPace }} min/km</td>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>HR Fastest km</td><td class="summary width=140px">{{ tTrack[1] }}</td>
	
</tr>

<tr>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>Pausing Time</td><td class="summary width=140px">{{ tPause }}</td>
	  <td width=40px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>Total avg Heart Rate</td><td class="summary width=140px">{{ tAverageHr }}</td>
	  <td width=20px>&nbsp;&nbsp;&nbsp;</td>
	  <td class="summary" width=140px>&nbsp;</td><td class="summary width=140px">&nbsp;</td>
	
</tr>
	
</table>


