<heaad>

<TITLE>Strava Run Analysis by Max</TITLE>

<style>

table.summary {
  font: 14px sans-serif;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 20px;
}

td.summary {
  border: 1px dotted #B0B0B0;
  border-left: none;
  border-right: none;
  padding: 5px;
}

td.head {
  border: 1px dotted #B0B0B0;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px;
  text-align: left;
}

.chart div {
  font: 10px sans-serif;
  background-color: white;
  text-align: left;
  padding: 3px;
  margin: 0px;
  color: white;
  display: inline-block;
}

</style>

</head>